.footer{
    position:relative;
    &__buildings{
        width:70%;
        margin:0 auto;
        margin-bottom:-3px;
        display:block;
    }
    
    &__content{
        padding:2.5rem 0 5rem 0;
        text-align:center;
        color:#FFF;
        background:#191919;
        p{
            letter-spacing:2px;
            font-size: 1.2rem;
            font-family:georgia;
        }
    }
}

.social-badges{
    font-size: 3.3rem;
    
    &__item{
        margin: 0 0.1rem 0 0.1rem;
    }

    a{
        color: #FFF;
    }
}