svg{
    width:100%;
}
#michael-avnyin{
    tspan{
        font-size:90px;
        font-weight:300;
        opacity:0.88;
        font-family:"Roboto"; 
        text-anchor:middle;
        letter-spacing:4.9px;
    }
}