.u-padding-20{
    padding:2rem;
}

.u-flex-justify-center{
    display:flex;
    justify-content:center;
}

.u-section-heading{
    padding-top:8rem;
    padding-bottom:5rem;
    font-weight:700;
    letter-spacing:-2px;
    text-align:center;
    @include respond(phone){
        padding-top:4rem;
        padding-bottom:4rem;
    }
}